@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
header {
    background-color: #129799;
    height: 50vh;
}
.menu-content  {
    display: flex;
    height: 10vh;
    padding-top: 20px;
    background-color: #129799;
    justify-content: space-evenly;
}

a { 
    text-decoration: none;
    font-size: 22px;
    color: #ffff;
}

.menu-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 { 
    font-size: 50px;
    color: #ffff;
}
.menu-hero img {
    width: 27vw;
    padding-left: 20px;
}

main {
    background-color: #FFA185;
    height: 100%;
}

.content-text {
    padding: 35px;
}

.content-text p {
    padding-top: 15px;
    font-size: 20px;
}

.imagens {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.imagens img {
    height: 35vh;
}

.botton {
    text-align: center;
    padding: 25px;
    font-weight: 600;
    font-size: 18px;
}

.botton:hover {
    cursor: pointer;
    font-weight: 900;
    font-size: 19px;
    transition: font-size 0.5s;
}
footer {
    display: flex;
    background-color: #129799;
    height: 16vh;
    justify-content: space-evenly;
    align-items: center;
}
.social {
    display: flex; 
    list-style: none;
    width: 30vw;
    justify-content: space-evenly;
}
.social:hover {
    cursor: pointer;
}
.menu-footer {
    display: flex; 
    justify-content: space-around;
    width: 40vw;
}